/* portfolio css */
html {
  font-family: sans-serif;}

body
{
    background: black;
   
}




/*start home*/

#home 
{
     background-color: #212e2c;
     background: url("../images/homee.jpeg");
     background-attachment: fixed;
     
     padding-top: -10px;
     padding-bottom: 100px;
}

#home .menu
{
    position: fixed;
    box-shadow: 0 0 5px white;
}
#home .menu nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    border: 6px solid white;
    padding: 4px 4px;
    height: 70px;
    width: 1320px;
    background-color: #313131;
    border-radius: 30px;
}
#home .menu h1
{
    color:hotpink;
    padding-left: 30px;
    padding-bottom: 10px;
    justify-content: space-between;
    font-family: 'monospace';
    font-size: 50px;
    letter-spacing: 2px;
}
#home span
{
    color: lightpink;
    font-family: initial;
    font-size: 48px;
}
#home .menu nav ul li 
{
    list-style: none;
    display: inline-block;
    padding: 10px 30px;  
}
#home .menu nav ul li a 
{
    color: #fc3fea;
    text-decoration: none;
    font-size: 20px;
   
   
}
#home .menu nav ul li a:hover 
{
    box-shadow: 2px 2px 25px white;
    background: white;
    border-radius: 10px;
}



#home .title
{
    padding-top: 200px;
    font-size: 35px;
    text-align: center;
    line-height: 20px;
}
#home .title h1
{
    color: #fc0d65;
    font-family: 'serif;';
    font-size: 50px;
    border: 4px solid #fc0d65;
    display: inline-block;
    padding: 35px 45px;
    border-radius: 10px;
    margin: 30px 25px;
}
#home .title a 
{
    color: black;
    font-family: 'serif;';
    font-size: 30px;
    border: 2px salmon black;
    display: inline-block;
}
#home .title h2
{
    color: #e00b5a;
    font-family: cursive;
    font-size: 40px;
    letter-spacing: 4px;
    
}
#home .title h3
{
    color: #e00b5a;
    font-family: cursive;
}


/*end home*/

/*start about*/
#about .detail
{
    background: black;
    color: hotpink;
    padding-top: 80px;
    padding-right: 50px;
    padding-bottom: -100px;
    width: auto;
    max-width: 100%;
    line-height: 50px;
    margin: 0 auto;
    display: flex;
    background-size: contain;
    font-size: 30px;
    font-family: 'fantasy;';
    text-align: justify-all;
    justify-content: space-around;
}
#about .detail a
{
    width: 2200px;
    height: auto;
    padding-left: -100px;
    size: auto;
    background: url("C:/Users/a/Desktop/portfolio/images/image8.jpg");
}
#about .aboutt p 
{
  color: white;  
  text-align: left;
  letter-spacing: 2px;
}
#about .aboutt h2 
{
    border: 2px solid white;
    width: 200px;
    text-align: center;
    font-size: 30px;
    border-radius: 50px;
}
#about .aboutt h2:hover
{
    background-color: white;
    box-shadow: 2px 2px 25px white;
}

/* end about */



/* start skill*/
#skill
{
   background-color: #221829;
   padding: 130px 100px 150px 150px; 
   height: 80%;
   size: cover;
}
#skill .progress
{
        border-radius: 2px;
        background: #e8d0f7;
        height: 10px;
        line-height: 50px;
}
#skill .progress .progress-bar-danger
{
        background: #990cf7;

}
#skill .text-top
{
        padding-top: 50px;
}

#skill h1
{
   font-family: 'Saira Extra Condensed', serif;
   text-align: center;
   color: white;  
}

#skill span
{
        color: #ffffff;
        font-weight: bold;
        display: block;
        padding-bottom: 6px;
        line-height: 20px;
    }
#skill small
{
        font-weight: bold;
        float: right;
}



/* end skill */

/* start education */
#education 
{
    background-color: #221829;
    color: black;
    background-size: cover;
    
    font-size: 20px;
    
    padding-top: 100px;
    padding-bottom: 80px;
    letter-spacing: 1px;
    

}

#education h1
{
    font-size: 40px;
    color: blueviolet;
    font-weight: bold;
    
    letter-spacing: 4px;
    font-family: 'Saira Extra Condensed', serif;
    text-align: center;
}

#education h2
{
    font-size: 26px;
    font-weight: bold;
    
    letter-spacing: 3px;
    font-family: cursive;
    line-height: 0px;
    text-align: center;
}

#education h3 
{
    font-size: 19px;
    
    font-family: monospace;
    text-align: center;
    
}


#education .edc 
{
    background: #e8d0f7;
    border: 4px solid black;
    line-height: 30px;
    height: 120px;
    border-radius: 40px;
    padding-left: 10px;
    
}
#education .edc:hover 
{
    box-shadow: 2px 2px 25px white;
}

/* end education */

/* start contact */
#contact
{
    background-color: #221829;
    background-size: cover;
    
    height: 320px;
    padding-top: 150px;
    display: flex;
    padding-left: 410PX;
    text-align: center;

    line-height: 70px;
    
}


#contact .form-in
{
    border: 3px solid black;
    background-color: #9fcfac;

    text-align: center;
    height: 50px;
    width: 510px;
}
#contact input
{
    height: 50px;
}
#contact input[type="submit"]
{
        background: #b53f74;
        border: 2px solid transparent;
        color: #ffffff;
        font-weight: bold;
        transition: all 0.4s ease-in-out;
    }
#contact input[type="submit"]:hover
    {
        background: #ffffff;
        color: #D43F52;
    }
/*end contact*/

/*start footer*/
footer{
    position: relative;
    width: 100%;
    height: 150px;
    background-color: #221829;
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;
}
footer h1 
{
    color: white;
    font-family: "Lucida Handwriting"; 
    font-size: 25px;
}

.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    background-color: white;
    border-radius: 50%;
    margin: 20px 15px;
    color: black;
    text-decoration: none;
    font-size: 10px;
    padding: 3px;
}
.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}
.social i{
    font-size: 30px;
    display: flex;
    color: black;
    align-items: center;
    padding: 9px;
}
/* end footer */



       